* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.row {
    display: flex;
    text-align: center;
}

.col {
    background-color: black;
    height: 20px;
    flex: 1;
    margin: 20px;
    padding: 10px;
}

.col-2 {
    background-color: black;
    height: 20px;
    flex: 2;
    margin: 20px;
    padding: 10px;
}

.col-3 {
    background-color: black;
    height: 20px;
    flex: 3;
    margin: 20px;
    padding: 10px;
}